<h1>Welcome in Schwarz App</h1>
<form action="/addOrders">
    <input type="submit" value="Add Orders"/><span></span>
</form>
<br>
<form action="/orders">
    <input type="submit" value="Show Orders"/>
</form>